.card {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    flex-direction: row;
    padding: 0.5em;
    border-radius: 8px;
    background-color: rgba(21, 22, 59, 0.193);
}

.profile {
    background-color: red;
    border-radius: 100%;
    font-size: 32px;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.secondaryInfo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    gap: 8px;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.status-icon {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.safe {
    background-color: "green";
}

.on-the-move {
    background-color: "yellow";
}

.pickle {
    background-color: "red";
}

.name {
    margin: 0;
}

.location {
    margin: 0;
}

.distance {
    margin: 0;
}

@media (max-width: 440px) {
    .profile {
        font-size: 24px;
    }
    .name {
        font-size: 24px;
    }
}
